<div class="comment-wrapper">
    <div class="panel panel-info">
        <div class="panel-body">
            <textarea class="form-control" ngModel #textarea placeholder="write a comment..." rows="3"></textarea>
            <br>
            <button type="button" (click)="save(textarea)" class="btn btn-info pull-right">Post</button>
            <div class="clearfix"></div>
            <hr>
            <ul class="media-list">
                <li class="media" *ngFor="let comment of comments">
                    <img src="https://bootdey.com/img/Content/user_1.jpg" class="img-circle pull-left">
                    <div class="media-body">
                        <strong class="text-success">{{comment.username}}</strong>
                        <p>{{comment.text}}</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>